body {
	background-color: #AD0000;
	background-color: #151515;
	font-family: 'Open Sans', sans-serif;
        font-size: 11pt;
}


#overlord {
	width: 1050px;
	/* border: 3px solid black; */
	margin: auto;
	height: auto;
}

#wrapper {
	width: 1050px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.65);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.65);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.65);
	border-radius: 10px 10px 10px 10px;
	
}

#media {
	text-align: right;
	
}

@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}

#media ul {
	list-style-type: none;

	overflow: hidden;
}

#media li{

    display: inline;
}

#media li a:hover {
-webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}


#headwrapper {
	width: 100%;
	/* border: 2px solid black; */
	overflow: hidden;
}

#header a{
	text-align: right;
	height: 185px;
	width: 365px;
	background: url('../logo2.png');
	/* border: 1px solid green; */
	float: left;
}

#header a:hover {
	background: url('../logo5.png');
}


#small {
	text-align: right;
	font-size: 16pt;
	color: grey;
}

#lesssmall {
	text-align: right;
	font-size: 20pt;
	color: grey;
}

#title {
	text-align: right;
	font-size: 35pt;
	color: red;
}

#menu {
	float: right;
	/* border: 1px solid red;*/
	height: 185px;
	width: 680px;
	padding-bottom: 15px;

}

#bar {
	/* border: 1px solid blue; */
	height: 70px;
	width: 100%;
}

#headimage {
	/* border: 1px solid magenta;*/
	height: 140px;
	width: 100%;
}


#menu ul {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #AD0000;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    border-left: 1px solid #750000;
    border-top: 1px solid #750000;
    border-bottom: 1px solid #750000;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#menu li a:hover {
    background-color: #750000;
   
}


#contentwrapper {
	padding: 25px 25px 25px 25px;
	}

#picquote {
	height: 300px;
	overflow: hidden;
	margin-bottom: 10px;
}

#picture {
	width: 600px;
	float: left;
	border-radius: 10px;
	overflow: hidden;
}

#picture img {
	border-radius: 10px;
}

#quote {
	width: 400px;
	float: right;
	font-size: 30pt;
	color: #a60000;
	float: right;
	text-align: center;
	text-wrap: normal;
	height: 300px;
	display: table;
}

#quote p {
	display: table-cell;
	vertical-align: middle;
}

#quote span {
	font-size: 18pt;
	font-weight: bold;
}

#footer {
	/* background-color: #636363; */
	padding: 10px 25px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #000000;
	text-align: center;

}

#footer a {
	text-decoration: none;
	color: #000000;
}

#footer h2 {
	padding: 0px;
}

#footer a:hover {
	color: #ad0000;
}

#footer ul {
	list-style-type: none;
	text-decoration: none;
	padding-left: 0;
}

#footer hr {
	color: #151515;
}

#links {
	overflow: hidden;

}

#contact {
	float: left;
	width: 330px;

}

#other {
	float: left;
	width: 330px;
	/*line-height: 100px;
	vertical-align: middle;*/
}

/*#other a {
	background-color: #ad0000;
	border: 1px solid #750000;
	color: white;
	text-weight: bold;
	padding: 10px;
	border-radius: 5px;
	height: 50px;

}*/

#copyright {
}

#logo {
	float: right;
	width: 330px;

}

/* Sponsors Page */

#sponsors {
	font-weight: bold;
}

#sponsors li img {
	border-radius: 300px;
	/*border: 1px solid black;*/
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.53);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.53);
	margin-bottom: 15px;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition:  all 1s ease; /* Opera */
    transition: all 1s ease;
}

/*@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}

#sponsors li a:hover {
-webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}*/

#sponsors li a:hover img {
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
     transform:scale(1.2);
}

	

#sponsors ul {
	display: inline;
	text-align: center;
	margin-top: 50px;
}

#sponsors li {
	display: inline;
	text-align: center;
	width: 320px;
	height:300px;
	float: left;
	/*border: 1px solid black;*/

}

#words {
	padding-top: 50px;
	overflow: hidden;
}
	
