body {
	margin: 0;
	text-align: center;
	overflow-x: hidden;
	background-color: #1E1E1F;
}

#page1 {
	width: 100%;
	background-color: #B9B8BA;
	text-align: center;
	margin: 0px;
	background-size:100% 100%;
	overflow: hidden;
	
}
#nav {
	text-align: center;
	margin: 0px;
}
#nav ul {
	list-style-type: none;
	overflow: hidden;
	text-align: center;
	padding: 0;
	display: inline;
	font-family: 'Dosis', sans-serif;
	font-size: 30pt;
	margin: 0px;
	
}
#nav a {
	text-decoration: none;
	font-weight: 200;
	color: #000000;
	padding-bottom: 30px;
	position: relative;
	margin: 0px;
}
#nav a:hover:before {
	content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 1px solid #000000;
	margin: 0px;
	
}
#nav li {
	display: inline;
	padding: 25px;
	margin: 0px;
}

#media ul {
	list-style-type: none;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

#media li{

    display: inline;
	padding: 3px;
	margin: 0px;
}

#media li a:hover {
-webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

#zeppelin {
	padding: 50px;
	margin: 0px;
}
#zeppelin img {
	
	width: 35%;
}
#center {
	width: 100%;
	height: 40%;
	margin: 0px;
}
 h1  {
	padding-top: 4.5%;
	font-size: 60pt;
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
	margin: 0px;
}
h2 {
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 30pt;
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
	margin: 0px;
	
}
#paragraph1 {
	width: 60%;
	margin: auto;
	padding-bottom: 1%;
}
#paragraph1 p{
	text-align: justify;
	line-height: 170%;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}
#sponsorpar {
width: 60%;
	margin: auto;
	padding-top: 2.5%;
	padding-bottom: 1%;
}
#sponsorpar p {
text-align: justify;
	line-height: 170%;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}
#paragraph2 {
	width: 60%;
	margin: auto;
	padding-bottom: 4%;
	padding-top: 2%;
}
#paragraph2 p{
	text-align: justify;
	line-height: 170%;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}
#paragraph {
	width: 60%;
	margin: auto;
	padding-bottom: 4%;
	padding-top: 2%;
}
#paragraph p{
	text-align: center;
	line-height: 170%;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}
#image1{
	padding-top: 3%;
	padding-bottom: 5%;
    padding-left: 20%;
	padding-right: 20%;
	margin: 0px;
}
#image1 img {
	height: 390px;
	margin: 0px;
}
#image2{
	padding-top: 3%;
	padding-bottom: 5%;
    padding-left: 20%;
	padding-right: 20%;
	margin: 0px;
}
#image2 img {
	height: 380px;
	margin: 0px;
}
#image3{
	padding-top: 3%;
	padding-bottom: 5%;
    padding-left: 20%;
	padding-right: 20%;
	margin: 0px;
}
#image3 img {
	height: 380px;
	margin: 0px;
}
/*3 footer buttons*/
#topfooter{
	width: 100%;
	background-color: #3C3B3C;
	height: 32%;
	margin: 0px;
	overflow: hidden;
}

#topfooter ul {
	list-style-type: none;
	overflow: hidden;
	padding: 0px;
}

#toplinks {
	float: left;
	height: 100%;
	width: 33.33%;
	/*background-color: white;*/
	display: table;
}


#topfooter a {
	display: table-cell;
	text-decoration: none;
	color: white;
	height: 100%;
	width: 100%;
	font-family: 'Dosis', sans-serif;
	font-size: 21pt;
	vertical-align: middle;
	font-weight: 200;
	position: relative;
	
}
/*
#underliner p {
border-bottom: 1px solid #d6d6d6;
}
#underliner p:hover {
	border-bottom: 2px solid #d6d6d6;
	
}*/
#toplinks p {
	-webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
	padding-bottom: 5%;
	
	font-weight: 300;
    display: inline-block;
    padding-bottom: 4.5%;
    position: relative;
    
	
}
#toplinks p:before {
	content: "";
    position: absolute;
    width: 30%;
    height: 1px;
    bottom: 0;
    left: 35%;
    border-bottom: 1.5px solid #d6d6d6;
	
}
#toplinks p:hover {
	
-webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.3);
	
	content: "";
    width: 60%;
	
}

#topfooter a:hover{
	background-color: #2D2D2D;
	text-decoration: none;
	color: white;
}

#topfooter a:before {
	
	
	content: "";
    position: absolute;
    width: 8%;
    height: 1px;
    bottom: 30%;
    left: 46%;
	margin: 0px;
	
}

/*#topwlinks span {
	width: auto;
	height: 50%;
	position: relative;
}

#topwlinks span:before {
	content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 2px solid #d6d6d6;
	margin: 0px;
}*/


#bottomfooter{
	width: 100%;
	background-color: #1E1E1F;
	/*change height if needed*/
	height: 27%;
	margin:0;
    text-align: center;
}

#tear img{
	padding-top: 0.3%;
	padding-bottom: 1.5%;
	height: 80px;
    margin: 0px;
}
#media2 img{
	height: 50px;
	width: 50px;
	margin: 0px;
	
}
#media2 ul {
	list-style-type: none;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

#media2 li{
    display: inline;
	padding: 3px;
	margin: 0px;
}
.elem img {
}
.elem img:hover {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

#bottomfooter p {
	padding-top: 2%;
	padding-bottom: 1%;
	text-align: center;
	color: #d6d6d6;
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	margin: 0px;
}

/*#sponsors a img {
    height: 5px;
}*/
#box {
	padding-bottom: 250px;
	overflow: hidden;
    
}
#tmtLogo img {
	padding-bottom: .1%;
    padding-top: .8%;
	height: 50px;
    margin: 0px;
}

table{
    table-layout: fixed;
    text-align: center;
    width:70%;
    margin-left:15%;
    margin-right:15%;
}
table p {
	font-family: 'Dosis', sans-serif;
	font-size: 12pt;
	text-transform: uppercase;
}

table{
    table-layout: fixed;
    text-align: center;
    width:70%;
    margin-left:15%;
    margin-right:15%;
}
table p {
	font-family: 'Dosis', sans-serif;
	font-size: 15pt;
	text-transform: uppercase;
}

td{
    display: table-cell;
	width: 20%;
	text-align: center;
    overflow: hidden;
    vertical-align: baseline;
}

table img{
    width: 100%;
}
#sponsors {
      padding-bottom: 10%;
}
