body {
	margin: 0;
	text-align: center;
	overflow-x: hidden;
}

#page1 {
	height: 100%;
	width: 100%;
	background-color: #d6d6d6;
	text-align: center;
	margin: 0px;
	background-image: url("background2.png");
	background-size:100% 100%;
	

	
}
#page2 {
	width: 100%;
	background-color: #B9B8BA;
	margin: 0px;
}
#nav {
	text-align: center;
	margin: 0px;
}
#nav ul {
	list-style-type: none;
	overflow: hidden;
	text-align: center;
	padding: 0;
	display: inline;
	font-family: 'Dosis', sans-serif;
	font-size: 30pt;
	margin: 0px;
	
}
#nav a {
	text-decoration: none;
	font-weight: 200;
	color: #d6d6d6;
	padding-bottom: 30px;
	position: relative;
	margin: 0px;
}
#nav a:hover:before {
	content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 2px solid #d6d6d6;
	margin: 0px;
	
}
#nav a:active {
	content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 2px solid #d6d6d6;
	margin: 0px;
}
#nav li {
	display: inline;
	padding: 25px;
	margin: 0px;
}

#media img{
	height: 110px;
	width: 110px;
	margin: 0px;
	
}
#scrollDown {
	margin-top: 1.7%;
}
#scrollDown img {
	height: 14px;
	margin-bottom: 0px;
	}
#scrollDown .text {
	color: #931702;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
}
#scrollDown .image,
#scrollDown .text {transition: opacity 0.4s ease-in-out;}
#scrollDown .text {top:0; left:0; opacity:0;}

#scrollDown:hover .image {opacity:0;}
#scrollDown:hover .text {opacity:1;}

@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}

#media ul {
	list-style-type: none;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

#media li{

    display: inline;
	padding: 3px;
	margin: 0px;
}

#media li a:hover {
-webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

#zeppelin {
	padding: 50px;
	margin: 0px;
}
#center {
	width: 100%;
	height: 45%;
	margin: 0px;
}
#page2 h1  {
	padding-top: 3%;
	padding-bottom: 3%;
	font-size: 40pt;
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	margin: 0px;
}
#paragraph {
	width: 60%;
	margin: auto;
	
}
#paragraph p{
	text-align: justify;
	line-height: 170%;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}
#image1{
	padding-top: 5%;
	padding-bottom: 5%;
    padding-left: 20%;
	padding-right: 20%;
	margin: 0px;
}
#image1 img {
	height: 380px;
	margin: 0px;
}
#topfooter{
	width: 100%;
	background-color: #3C3B3C;
	height: 27%;
	margin: 0px;
}

#topfooter ul {
	list-style-type: none;
	display: inline;
}

#topfooter li {
	width: 33.3%
	background-color: #ffffff;
	display: block;
}

#topfooter li a {
	width: 33.3%
	background-color: #ffffff;
	display: block;
}

#topfooter li a:hover {
	background-color: #3c3b3c;
	
}
#bottomfooter{
	width: 100%;
	background-color: #1E1E1F;
	/*change height if needed*/
	margin:0;
}

#tear img{
	padding-top: 0.7%;
	padding-bottom: 1.5%;
	height: 80px;
}
#media2 img{
	height: 50px;
	width: 50px;
	margin: 0px;
	
}
#media2 ul {
	list-style-type: none;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

#media2 li{

    display: inline;
	padding: 3px;
	margin: 0px;
}
#bottomfooter p {
	padding-top: 2%;
	padding-bottom: 1%;
	text-align: center;
	color: #d6d6d6;
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	margin: 0px;
}
}
