body {
	margin: 0;
	text-align: center;
	overflow-x: hidden;
}

#page1 {
	height: 100%;
	width: 100%;
	background-color: #d6d6d6;
	text-align: center;
	margin: 0px;
	background-image: url("http://www.graphic-design.com/Photoshop/tutorials/rusty_text/steelbackground3.jpg");
	
}
#page2 {
	width: 100%;
	background-color: #B9B8BA;
	margin: 0px;
}
#nav {
	text-align: center;
}
#nav ul {
	list-style-type: none;
	overflow: hidden;
	text-align: center;
	padding: 0;
	display: inline;
	font-family: 'Dosis', sans-serif;
	font-size: 30pt;
	
}
#nav a {
	text-decoration: none;
	font-weight: 200;
	color: #d6d6d6;
	padding-bottom: 30px;
	position: relative;
}
#nav a:hover:before {
	content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 2px solid #d6d6d6;
	
}
#nav a:active {
	content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 2px solid #d6d6d6;
}
#nav li {
	display: inline;
	padding: 25px;
}

#media img{
	height: 110px;
	width: 110px;
	
}
#scrollDown img {
	height: 30px;
}

@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}

#media ul {
	list-style-type: none;
	overflow: hidden;
	padding: 0px;
}

#media li{

    display: inline;
	padding: 3px;
}

#media li a:hover {
-webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

#zeppelin {
	padding: 50px;
}
#center {
	width: 100%;
	height: 48%;
}
#page2 h1  {
	padding-top: 3%;
	padding-bottom: 3%;
	font-size: 40pt;
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
}
#paragraph {
	width: 60%;
	margin: auto;
	
}
#paragraph p{
	text-align: justify;
	line-height: 170%;
	font-family: 'Open Sans', sans-serif;
}
#image1{
	padding-top: 5%;
	padding-bottom: 5%;
    padding-left: 20%;
	padding-right: 20%;
}
#image1 img {
	height: 380px;
}
#topfooter{
	width: 100%;
	background-color: #3C3B3C;
	height: 27%;
}
#bottomfooter{
	width: 100%;
	background-color: #1E1E1F;
	height: 27%;
}
#bottomfooter p {
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	color: #d6d6d6;
}
}
