body {
	margin: 0;
	text-align: center;
}

#page1 {
	height: 100%;
	width: 100%;
	background-color: #666666;
	text-align: center;
}
#page2 {
	height: 100%;
	width: 100%;
	background-color: #00ff00;
}
#page3 {
	height: 100%;
	width: 100%;
	background-color: #0000ff;
}
#nav {
	text-align: center;
}
#nav ul {
	list-style-type: none;
	overflow: hidden;
	text-align: center;
	padding: 0;
	display: inline;
	font-family: 'Dosis', sans-serif;
	font-size: 50pt;
	
}
#nav a {
	text-decoration: none;
	font-weight: Light;
	color: #000000;
}
#nav li {
	display: inline;
}
#zeppelin img {
	height: 100px;
	width: 400px;
}
