body {
	background-color: #AD0000;
}


#overlord {
	width: 1050px;
	/* border: 3px solid black; */
	margin: auto;
	height: auto;
}

#wrapper {
	width: 1050px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.65);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.65);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.65);
	border-radius: 10px 10px 10px 10px;
	
}

#media {
	text-align: right;
	
}

@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}

#media ul {
	list-style-type: none;

	overflow: hidden;
}

#media li{

    display: inline;
}

#media li a:hover {
-webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}


#headwrapper {
	width: 100%;
	/* border: 2px solid black; */
	overflow: hidden;
}

#header {
	text-align: right;
	height: 185px;
	width: 365px;
	/* border: 1px solid green;*/


	float: left;
}

#small {
	text-align: right;
	font-size: 16pt;
	color: grey;
}

#lesssmall {
	text-align: right;
	font-size: 20pt;
	color: grey;
}

#title {
	text-align: right;
	font-size: 35pt;
	color: red;
}

#menu {
	float: right;
	/* border: 1px solid red;*/
	height: 185px;
	width: 680px;
	padding-bottom: 15px;

}

#bar {
	/* border: 1px solid blue; */
	height: 70px;
	width: 100%;
}

#headimage {
	/* border: 1px solid magenta;*/
	height: 140px;
	width: 100%;
}


#menu ul {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: Georgia;

}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#menu li a:hover {
    background-color: #111;
}


#contentwrapper {
	padding: 25px 25px 25px 25px;
	}

#picquote {
	height: 300px;
	overflow: hidden;
	margin-bottom: 10px;
}

#picture {
	width: 600px;
	float: left;
}

#quote {
	width: 450px;
	float: right;
}

#footer {
	background-color: #a6a6a6;
	padding: 10px 10px 10px 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

}

#footer ul {
	list-style-type: none;
    text-decoration: none;
}
