body {
	margin: 0;
	text-align: center;
	overflow-x: hidden;
    background-color: #1E1E1F;
}

#home {
	height: 100%;
	width: 100%;
	background-color: #d6d6d6;
	text-align: center;
	margin: 0px;
	background-image: url("background2.png");
	background-size:100% 100%;
	overflow: hidden;
	

	
}
#page2 {
	width: 100%;
	background-color: #B9B8BA;
	margin: 0px;
	height: 100%;
}
#page3 {
    width: 100%;
    margin: 0px;
}
#nav {
	text-align: center;
	margin: 0px;
	display:block;
	position:relative;
}

#nav ul {
	list-style-type: none;
	overflow: hidden;
	text-align: center;
	padding: 0;
	font-family: 'Dosis', sans-serif;
	font-size: 30pt;
	margin: 0px;
	
}	
#nav ul li{
	display:inline-block;
}
#nav ul li:hover ul{
	display:block;
}
#nav ul:after{
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
}
#nav ul ul{
	display:none;
	position:absolute;
}
#nav a {
	text-decoration: none;
	font-weight: 200;
	color: ##ffffff;
	padding-bottom: 30px;
	position: relative;
	margin: 0px;
}
#nav a:hover:before {
	content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 1px solid #000000;
	margin: 0px;
	
}
#nav li {
	display: inline;
	float:center;
	padding: 25px;
	margin: 0px;
}

#media img{
	height: 110px;
	width: 110px;
	margin: 0px;
	
}
#scrollDown {
	margin-top: 1.7%;
	text-decoration: none;
}
#scrollDown a {
	text-decoration: none;
}
#scrollDown img {
	height: 14px;
	margin-bottom: 0px;
	}
#scrollDown .text {
	color: #931702;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	text-decoration: none;
}

#scrollDown .image,
#scrollDown .text {transition: opacity 0.4s ease-in-out;}
#scrollDown .text {top:0; left:0; opacity:0;}

#scrollDown:hover .image {opacity:0;}
#scrollDown:hover .text {opacity:1;}

#media ul {
	list-style-type: none;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

#media li{

    display: inline;
	padding: 3px;
	margin: 0px;
}

#media li a:hover {
}
.elem img {
}
.elem img:hover {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

#zeppelin {
	padding: 50px;
	margin: 0px;
}
#center {
	width: 100%;
	height: 40%;
	margin: 0px;
}
#page2 h1  {
	padding-top: 3%;
	padding-bottom: 3%;
	font-size: 40pt;
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	margin: 0px;
}
#paragraph {
	width: 60%;
	margin: auto;
	
}
#paragraph p{
	text-align: justify;
	line-height: 170%;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}
#image1{
	padding-top: 5%;
	padding-bottom: 5%;
    padding-left: 20%;
	padding-right: 20%;
	margin: 0px;
}
#image1 img {
	height: 45%;
	margin: 0px;
}
/*3 footer buttons*/
#topfooter{
	width: 100%;
	background-color: #3C3B3C;
	height: 32%;
	margin: 0px;
	overflow: hidden;
    z-index: 2;
}

#topfooter ul {
	list-style-type: none;
	overflow: hidden;
	padding: 0px;
}

#toplinks {
	float: left;
	height: 100%;
	width: 33.33%;
	/*background-color: white;*/
	display: table;
}


#topfooter a {
	display: table-cell;
	text-decoration: none;
	color: white;
	height: 100%;
	width: 100%;
	font-family: 'Dosis', sans-serif;
	font-size: 21pt;
	vertical-align: middle;
	font-weight: 200;
	position: relative;
	
}
/*
#underliner p {
border-bottom: 1px solid #d6d6d6;
}
#underliner p:hover {
	border-bottom: 2px solid #d6d6d6;
	
}*/
#toplinks p {
	-webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
	padding-bottom: 5%;
	
	font-weight: 300;
    display: inline-block;
    padding-bottom: 4.5%;
    position: relative;
    
	
}
#toplinks p:before {
	content: "";
    position: absolute;
    width: 30%;
    height: 1px;
    bottom: 0;
    left: 35%;
    border-bottom: 1.5px solid #d6d6d6;
	
}
#toplinks p:hover {
	
-webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.3);
	
	content: "";
    width: 60%;
	
}

#topfooter a:hover{
	background-color: #2D2D2D;
	text-decoration: none;
	color: white;
}

#topfooter a:before {
	
	
	content: "";
    position: absolute;
    width: 8%;
    height: 1px;
    bottom: 30%;
    left: 46%;
	margin: 0px;
	
}

/*#topwlinks span {
	width: auto;
	height: 50%;
	position: relative;
}
#topwlinks span:before {
	content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 2px solid #d6d6d6;
	margin: 0px;
}*/


#bottomfooter{
	width: 100%;
	background-color: #1E1E1F;
	/*change height if needed*/
	height: 27%;
	margin:0;
	text-align: center;
	padding-bottom: 3%;
    z-index: 2;
	
}

#tear img{
	padding-top: 0.7%;
	padding-bottom: 1.5%;
	height: 80px;
}
#tear {
    padding-bottom: 1.5%;
}

#tear a:hover {
	background url('mcfarlin.png');
}
#media2 img{
	height: 50px;
	width: 50px;
	margin: 0px;
	
}
#media2 ul {
	list-style-type: none;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

#media2 li{
    display: inline;
	padding: 3px;
	margin: 0px;
}
#bottomfooter p {
	padding-top: 2%;
	padding-bottom: 1%;
	text-align: center;
	color: #d6d6d6;
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	margin: 0px;
}

#center img {
	height: 380px;
	margin: 0px;
}
#tmtLogo img {
	padding-bottom: .1%;
    padding-top: .8%;
	height: 50px;
    margin: 0px;
}

}
