<div id ="page3">
	<div id="topfooter">
		
			<div id="toplinks"><a href="http://www.carmelhigh.org" target="_blank"><span id="topwlines"><p>CHS WEBSITE</p></span></a></div>
			<div id="toplinks"><a href="https://wiki.2035.rocks" target="_blank"><span id="topwlines"><p>2035's FRCpedia!</p></span></a></div>
			<div id="toplinks"><a href="/contact"><span id="topwlines"><p>CONTACT US</p></span></a></div>
	</div>
	<div id="bottomfooter">
	<p> Copyright 2019 FRC Team 2035 | All Rights Reserved  </p>
	<div class = "elem">
	<div id="media2"><ul>
	<li><a href="https://www.thebluealliance.com/team/2035" target="_blank" title="The Blue Alliance"><img src="../whitebluealliance.png"></a></li>
	<li><a href="https://twitter.com/roborockinbots" target="_blank" title="Twitter"><img src="../whiteTwitter.png"></a></li>
	<li><a href="http://www.instagram.com/the.rockin.bots" target="_blank" title="Instagram"><img src="../whiteIG.png"></a></li>
	<li><a href="https://www.github.com/CarmelRobotics" target="_blank" title="GitHub"><img src="../whiteGit.png"></a></li>
	</ul>
	</div>
	</div>
        
	<!--<div id = "tear"><img src="../jackscats/tear.png"></div>-->
	<div id="tear"><img src='../tear2.png' onmouseover="this.src='../clifford.png';" onmouseout="this.src='../tear2.png';" /></div>
</div>
        </div>

