<div id="zeppelin">
	<img src="../zeppelin3.png">
  </div>
  <div id="nav">
     <ul>
          <li><a href="../#">HOME</a></li>
         <li><a href="../about">ABOUT</a></li>
         <li><a href="../outreach">OUTREACH</a></li>
	     <li><a href="../sponsors">SPONSORS</a></li>
	     <li><a href="../gallery">GALLERY</a></li>
		 <li><a href="../members">FOR MEMBERS</a>
			<ul>
					<li><a href="../members">MEMBERS PAGE</a></li>
					<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSf_UkpuN-wRc7nqL76xzTIgjMMGD7kipOVK6NbcPLT4X0LV9Q/viewform?usp=sf_link">LOG PRE</a></li>
					<li><a href="../members">TRELLO</a></li>
					<li><a href="https://docs.google.com/spreadsheets/d/1f9ft7_6kLaXC92xsS_wT6hX2gs6OinMvKUHORvBFR-M/edit?usp=sharing">VIEW YOUR HOURS</a></li>
			</ul>
		</li>
</div>
